<br><div class="float-end p-3">
    <nav aria-label="breadcrumb" class="fs-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  routerLink="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Car Details</li>
        <li class="breadcrumb-item active" aria-current="page">{{car?.id}}</li>
      </ol>
    </nav>
    </div>
    <br>
    <br><br>


<p>car-details works!</p>
<h3>View Car Details</h3>
<div>
    <div>
        <label> <b>Compnay Name: </b></label>{{car?.name}}
    </div>
    <div>
        <label> <b>Car Model: </b></label>{{car?.model}}
    </div>
    <div>
        <label> <b>Price: </b></label>{{car?.price}}
    </div>
</div>
<br><br><br>

